.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Title {
  font-size: 40px;
}

.RpsContainer {
  display: flex;
  gap: 100px;
  margin: 50px 0;
}

.RpsBackground {
  background: yellowgreen;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.RpsPicks {
  display: flex;
  gap: 50px;
  margin: 50px 0;
}

.RpsPick {
  font-size: 18px;
  text-decoration: underline;
}

.RpsDraw {
  font-size: 18px;
  text-decoration: underline;
  color: yellow;
}

.RpsWin {
  font-size: 18px;
  text-decoration: underline;
  color: green;
}

.RpsLose {
  font-size: 18px;
  text-decoration: underline;
  color: indianred;
}

.RpsReset {
  background: transparent;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  cursor: pointer;
}